@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");
/*******************************
*
* Global Reset
*
********************************/
html {
  background-color: #bbb;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: .5rem; }
  @media only screen and (max-width: 50em) {
    .h1 {
      font-size: 4rem; } }

.h3 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1rem; }
  @media only screen and (max-width: 50em) {
    .h3 {
      font-size: 2.5rem;
      letter-spacing: .8rem; } }

.h5 {
  font-size: 2rem;
  font-weight: 400; }

.link:link,
.link:visited {
  color: inherit;
  font-size: inherit;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s; }

.link:hover,
.link:active {
  font-size: 110%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px); }

.main {
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 1rem rgba(76, 76, 76, 0.5), -0.5rem -0.5rem 1rem rgba(76, 76, 76, 0.5), -0.5rem 0.5rem 1rem rgba(76, 76, 76, 0.5), 0.5rem -0.5rem 1rem rgba(76, 76, 76, 0.5);
  width: 60vw;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 7rem;
  text-align: justify; }
  @media only screen and (max-width: 62.5em) {
    .main {
      margin-top: 5rem;
      padding: 5rem;
      width: 70vw; } }
  @media only screen and (max-width: 50em) {
    .main {
      margin: 0;
      padding: 0 1.5rem;
      width: 100vw; } }

.header__title {
  text-align: center;
  transition: transform .5s; }
  .header__title:hover {
    transform: scaleX(1.1); }

.header__img-div--img {
  border-radius: 5px;
  display: block;
  height: auto;
  max-width: 100%;
  margin-top: 2rem;
  filter: grayscale(100%);
  transition: transform .5s; }
  .header__img-div--img:hover {
    transform: scale(0.9); }

.header__img-div--caption {
  font-size: 1.8rem;
  text-align: center; }

.tribute {
  margin-top: 2rem;
  word-spacing: .5rem; }
  @media only screen and (max-width: 50em) {
    .tribute {
      margin: 4rem; } }
  .tribute .tribute-info {
    font-weight: 400; }
    .tribute .tribute-info__header {
      font-size: 2.2rem;
      margin-bottom: 1rem; }
    .tribute .tribute-info__list {
      list-style-type: none;
      margin-left: 2rem;
      font-size: 2rem; }
      .tribute .tribute-info__list li:not(:last-child) {
        padding-bottom: 1.5rem; }
      .tribute .tribute-info__list li > b {
        color: #666; }
      .tribute .tribute-info__list li {
        padding-left: 3rem;
        position: relative; }
        @media only screen and (max-width: 50em) {
          .tribute .tribute-info__list li {
            padding-left: 1.5rem; } }
        .tribute .tribute-info__list li:hover {
          text-shadow: 0 0 2px #999; }
          .tribute .tribute-info__list li:hover::before {
            transform: rotate(135deg); }
      .tribute .tribute-info__list li::before {
        content: '';
        display: table;
        position: absolute;
        left: -1.5rem;
        top: .35rem;
        width: 2.5rem;
        height: 2.5rem;
        background-image: radial-gradient(#FFF, #999);
        border: 2px solid #555;
        border-radius: 2px;
        box-shadow: 0 0 2px #999;
        transition: all .3s; }
        @media only screen and (max-width: 50em) {
          .tribute .tribute-info__list li::before {
            top: .6rem;
            width: 2rem;
            height: 2rem; } }

.quote {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem; }
  .quote__text {
    display: block;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    text-align: justify; }
    @media only screen and (max-width: 50em) {
      .quote__text {
        font-size: 2.2rem; } }
    .quote__text::before, .quote__text::after {
      color: currentColor;
      content: "\0022";
      display: inline-block;
      font-size: 3rem;
      font-weight: 400; }
    .quote__text:hover {
      text-shadow: 0 0 3px #999; }
  .quote__footer {
    font-size: 2rem;
    font-weight: 500;
    text-align: right; }
    .quote__footer::before {
      background-color: #b2b2b2;
      content: "";
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: .5rem;
      height: 2px;
      width: 5rem; }

.footer {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 5rem;
  text-align: center; }
  @media only screen and (max-width: 50em) {
    .footer {
      margin: 3rem 4rem 0 4rem; } }
  .footer__text {
    padding-top: 2rem; }
    .footer__text--me {
      font-weight: 700; }
  .footer__source {
    font-size: 2.2rem;
    font-weight: 400; }
  .footer::before {
    background-color: #b2b2b2;
    content: "";
    display: table;
    height: 2px;
    width: 100%; }
