@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");
/*******************************
*
* Global Reset
*
********************************/
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  color: #c69963;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: .5rem; }

.h3 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1rem; }

.h5 {
  font-size: 2rem;
  font-weight: 400; }

.link:link,
.link:visited {
  color: inherit;
  font-size: inherit;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s; }

.link:hover,
.link:active {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px); }

#main {
  background-image: linear-gradient(to top right, rgba(249, 249, 248, 0.1) 0%, rgba(238, 238, 238, 0.1) 70%);
  width: 70vw;
  margin: 0 auto;
  margin-top: 3rem; }

.header__title {
  text-align: center; }

.header__img-div--img {
  border-radius: 5px;
  display: block;
  height: auto;
  max-width: 100%;
  margin-top: 2rem; }

.header__img-div--caption {
  font-size: 1.5rem;
  text-align: center; }

.tribute {
  margin-top: 2rem; }
  .tribute .tribute-info__header {
    margin-left: -2rem;
    margin-bottom: 1rem; }
  .tribute .tribute-info__list {
    font-size: 2rem;
    font-weight: 400; }

.quote {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem; }
  .quote__text {
    display: block;
    font-size: 3rem;
    font-style: italic;
    font-weight: 400; }
    .quote__text::before, .quote__text::after {
      color: currentColor;
      content: "\0022";
      display: inline-block;
      font-size: 3rem;
      font-weight: 400; }
  .quote__footer {
    font-size: 2rem;
    font-weight: 500;
    text-align: right; }
    .quote__footer::before {
      background-color: currentColor;
      content: "";
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: .5rem;
      height: 2px;
      width: 5rem; }

.footer {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 2rem;
  text-align: center; }
  .footer__text--me {
    font-weight: 700; }
  .footer__source, .footer #tribute-link {
    font-size: 2.2rem;
    font-weight: 400; }
