/////////////////////////////////
//
// Variables
//
/////////////////////////////////
// Colors
$color-primary: #000;
$color-secondary: #4c4c4c;
$color-white: #e2e2e2;

$color-grey-light: #b2b2b2;
$color-grey-light-1:#cccccc;
$color-grey-light-2: #e5e5e5;

// Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i');
$font-primary: 'IBM Plex Sans', sans-serif;
$font-display: 'IBM Plex Serif', serif;

// Responsive breakpoints
$bp-largest: 75em;     // 1200px
$bp-large: 62.5em;     // 1000px
$bp-medium: 50em;      // 800px

/*******************************
*
* Global Reset
*
********************************/
html {
    box-sizing: border-box;    
    font-size: 62.5%;
    
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    color: $color-primary;
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
}