/////////////////////////////////
//
// Variables
//
/////////////////////////////////
// Colors
$color-primary: #c69963;

$color-secondary: #101d2c;

$color-grey-light: #f9f9f8;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-primary-dark: #B28451;
$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i');
$font-primary: 'IBM Plex Sans', sans-serif;
$font-display: 'IBM Plex Serif', serif;

/*******************************
*
* Global Reset
*
********************************/
html {
    box-sizing: border-box;    
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    color: $color-primary;
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
}