.main {
    background-color: #fff;
    box-shadow: 0.5rem 0.5rem 1rem rgba($color-secondary, 0.5), 
                -0.5rem -0.5rem 1rem rgba($color-secondary, 0.5),
                -0.5rem 0.5rem 1rem rgba($color-secondary, 0.5),
                0.5rem -0.5rem 1rem rgba($color-secondary, 0.5);
    width: 60vw;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 7rem;
    
    @media only screen and (max-width: $bp-large) {
        margin-top: 5rem;
        padding: 5rem;
        width: 70vw;
        text-align: justify;
    }
    
    @media only screen and (max-width: $bp-medium) {
        margin: 0;
        padding: 0 1.5rem;
        width: 100vw;
    }
}
