#main {
    background-color: #fff;
    width: 60vw;
    margin: 0 auto;
    margin-top: 3rem;
    
    @media only screen and (max-width: $bp-large) {
        width: 70vw;
    }
    
    @media only screen and (max-width: $bp-medium) {
        width: 80vw;
    }
}
