#main {
    background-image: linear-gradient(to right, 
                                      rgba($color-grey-light, .3),
                                      rgba($color-white, .3), 
                                      rgba($color-grey-light, .3));
    width: 60vw;
    margin: 0 auto;
    margin-top: 3rem;
}
