.tribute {
    
    margin-top: 2rem;
    word-spacing: .5rem;
    
        
    @media only screen and (max-width: $bp-medium) {
        margin-right: 4rem;
    }
    
    .tribute-info {
        font-weight: 400;
        
        &__header {
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }
        
        &__list {
            list-style-type: circle;
            margin-left: 2rem;
            font-size: 2rem;
            
            li:not(:last-child) {
                padding-bottom: 1rem;
            }
            
            li > b {
                color: #757575;
            }
        }
    }
    
    
}