.tribute {
    
    margin-top: 2rem;
    word-spacing: .5rem;
        
    @media only screen and (max-width: $bp-medium) {
        margin: 4rem;
    }
    
    .tribute-info {
        font-weight: 400;
        
        &__header {
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }
        
        &__list {
            list-style-type: none;
            margin-left: 2rem;
            font-size: 2rem;
            
            li:not(:last-child) {
                padding-bottom: 1.5rem;
            }
            
            li > b {
                color: #757575;
            }
            
            li {
                padding-left: 3rem;
                position: relative;
                
                @media only screen and (max-width: $bp-medium) {
                    padding-left: 1.5rem;
                }
                
                &:hover {
                    text-shadow: 1px 2px 5px #999;
                    
                    &::before {
                        transform: rotate(135deg);
                    }
                }
            }
            
            li::before {
                content: '';
                display: table;
                position: absolute;
                left: -1.5rem;
                top: .35rem;
                width: 2.5rem;
                height: 2.5rem;
                background-image: radial-gradient(#FFF, #999);
                border: 2px solid #888;
                border-radius: 2px;
                box-shadow: 0 0 2px #999;
                transition: all .3s;
                
                @media only screen and (max-width: $bp-medium) {
                    top: .6rem;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}