.h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .5rem;
}

.h3 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1rem;
}

.h5 {
    font-size: 2rem;
    font-weight: 400;
}

.link:link,
.link:visited {
    color: inherit;
    font-size: inherit;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s;
}

.link:hover,
.link:active {
    text-shadow: 0 0 5px rgba(#000, 0.3);
    transform: translateY(-3px);
}
